[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
attrs = "*"
{% if cookiecutter.cli.lower() == 'y' or cookiecutter.cli.lower() == 'yes' %}click = "*"{% endif %}

[dev-packages]
bumpversion = "*"
coverage = "*"
cryptography = "*"
flake8 = "*"
pytest = "*"
pytest-runner = "*"
PyYAML = "*"
Sphinx = "*"
tox = "*"
sphinx-autodoc-typehints = "*"
wheel = "*"
Fabric3 = "*"
